footer{

    background-color: rgba(32,31,56,1);
    bottom: 0;
    position: sticky;

}

a{

    color: white;

}

a:hover{

    color: white;

}

@media (max-width: 767px){

    footer{

        position: unset;

    }

}