#menu-responsive ul{

    border-top: none !important;
    border-left: none !important;
    list-style: none;
    margin: 0;
    padding: 0;
    transition-duration: 500ms;

}

#menu-responsive ul li{

    padding: .5rem 0rem;
    width: 200px;

}

#menu-responsive ul li:hover{

    background-color: rgba(115, 187, 255, .3);
    border-left: 2px solid rgb(95, 151, 203);
    cursor: pointer;

}

#menu-responsive ul li a{

    display: inline-block;
    padding: 0px 8px;
    width: 100%;

}

.show-menu{

    left: 0px !important;

}